<!DOCTYPE html>
<html>

    <head>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>Zona Restringida</h1>
        <p>Hola, <%= user %>!</p>
        <a href="/">Volver a inicio</a>
        <a href="/login/logout">Cerrar sesión</a>
    </body>

</html>