body{
    background-image: url("FondoPantalla.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
form{
    width: 50%;
    padding: 20px;
    background-color: rgb(151, 233, 104);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    background-color: forestgreen;
    margin-top : 15px;
    padding: 10px 20px; /*15px 20px;*/ /* top right bottom left */
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display:inline-block;
    margin-left: auto;
    margin-right: 10px;
}
button:hover {
    transform: scale(1.05);
    background-color: green;
}
input {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Hace que todos los inputs ocupen el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total*/
}